@import "bootstrap/dist/css/bootstrap.min.css";

*{
  box-sizing: border-box;
  padding: 0;margin: 0;
}

.App {
  text-align: center;
 
}
.mainapp{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
  /* border: 1px solid red; */
  color: #000;
}

